/* Default stylesheet for Syllabus, will be overridden if necessary in theme */
.syllabus-pres .syllabus-content .label {
}
.syllabus-action fieldset.clearfix {
    margin-left: auto;
    border-bottom: initial;
}
.syllabus-action .mform>.form-group {
    margin-left: auto;
}
.syllabus-action .femptylabel .col-form-label {
    display: none !important;
}