{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
{{!
  @template local_syllabus/syllabus

  Syllabus display page

  The purpose of this template is to render a list.

  Classes required for JS:
  * none

  Data attributes required for JS:
  * data-component
  * data-area
  * data-itemid

  Context variables required for this template:
  * attributes Array of name / value pairs.

  Example context (json):
  {
      "courserawfields": {
        <exported course raw fields> (see course_syllabus_exporter)
      },
      "head": [
            "fields": [
                { "label" :"label", "iconhtml": iconhtml, "html": "contenthtml"},
            ]
          }],
      "side": [
            "fields": [
                { "label" :"label", "icon": iconhtml, "html": "contenthtml"},
            ]
          }],
      ]
  }
}}
<section class="syllabus-pres" id="course-{{#courseraw}}{{id}}{{/courseraw}}">
    <div class="row">
        <section class="col syllabus-title">
            {{#title}}
                {{#fields}}
                    <div class="field">
                        <h3 class="content">{{{html}}}</h3>
                    </div>
                {{/fields}}
            {{/title}}
        </section>
    </div>
    <div class="row">
        <div class="col">
            <section class="syllabus-head">
                {{#header}}
                    {{#fields}}
                        <div class="field">
                            <span class="label">{{label}}</span>
                            <span class="content"> {{{html}}}</span>
                        </div>
                    {{/fields}}
                {{/header}}
            </section>

            <section class="syllabus-content">
                {{#content}}
                    {{#fields}}
                        <div class="field">
                            <h4 >{{label}}</h4>
                            <span class="content">{{{html}}}</span>
                        </div>
                    {{/fields}}
                {{/content}}
            </section>
        </div>
        <div class="col">
            <aside class="syllabus-side">
                <ul class="list-group">
                    {{#side}}
                        {{#fields}}
                            <li class="field list-group-item">
                                <h4>
                                    {{#iconhtml}}<span class="icon">{{{iconhtml}}}{{/iconhtml}}</span>{{label}}</h4>
                                <span class="content">{{{html}}}</span>
                            </li>
                        {{/fields}}
                    {{/side}}
                </ul>
            </aside>
        </div>
    </div>
</section>

{{#js}}
    require(['local_syllabus/syllabus_management'], function(s) {
    s.init();
    });
{{/js}}